python manage.py runserver 
<!DOCTYPE html>
<html lang="pt">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Sobre | Explore+</title>

{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>

<header>

<div class="logo">Explore+</div>

<nav>

<a href="{% url 'pagina_inicial' %}">Início</a>
<a href="{% url 'index-missions' %}">Missões</a>
<a href="{% url 'about' %}">Sobre</a>
<a href="{% url 'login' %}">Login</a>

</nav>

</header>

<section class="about">

<h1>Sobre o Explore+</h1>

<p>

O Explore+ nasceu com uma missão simples: transformar a forma como os estudantes aprendem Ciência.

</p>

<p>

Em vez de decorar páginas e páginas de teoria, queremos que os alunos compreendam verdadeiramente os conceitos através de curiosidades, desafios, imagens, missões e explicações intuitivas.

</p>

<p>

Estamos a começar pela Biologia, mas no futuro a plataforma irá incluir Química, Física, Geologia e outras áreas da Ciência.

</p>

<p>

O nosso objetivo é tornar o estudo mais interessante, mais intuitivo e mais eficaz.

</p>

</section>

<footer>

<p>© Explore+ 2026</p>

</footer>

</body>

</html>